<h1>Forgot password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form name="reset" (ngSubmit)="createResetToken()" #form="ngForm" novalidate>

      <div class="form-group">
        <label for="email" class="control-label">Email</label>
        <input id="email" name="email" class="form-control" type="email" placeholder="Email"
               autofocus="true" required [(ngModel)]="email" #userEmail="ngModel">
      </div>

      <div class="help-error" role="alert" [hidden]="userEmail.valid">
        Email is required
      </div>

      <input type="submit" class="btn btn-primary" value="Submit"
             [disabled]="!form.form.valid || form.submitted">
    </form>
  </div>
</div>
