<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form name="userForm" (ngSubmit)="createUser()" #form="ngForm" novalidate>

      <div class="form-group">
        <label for="name" class="control-label">Name</label>
        <input id="name" name="name" class="form-control" type="text" placeholder="Name"
               autofocus="true" required [(ngModel)]="newUser.name" #name="ngModel">
      </div>

      <div class="help-error" role="alert" [hidden]="name.valid">
        Name is required
      </div>

      <div class="form-group">
        <label for="email" class="control-label">Email</label>
        <input id="email" name="email" class="form-control" type="email" placeholder="Email"
               required [(ngModel)]="newUser.email" #email="ngModel">
      </div>

      <div class="help-error" role="alert" [hidden]="email.valid">
        Email is required
      </div>

      <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input id="password" name="password" class="form-control" type="password"
               placeholder="Password" required [(ngModel)]="newUser.password"
               #password="ngModel">
      </div>

      <div class="help-error" role="alert" [hidden]="password.valid">
        Password is required
      </div>

      <div class="form-group">
        <label for="password_confirmation" class="control-label">Confirmation</label>
        <input id="password_confirmation" name="password_confirmation" class="form-control"
               type="password" placeholder="Confirm password" [(ngModel)]="confirmation"
               #passwordConfirmation="ngModel">
      </div>

      <div class="help-error" role="alert" [hidden]="passwordConfirmation.valid">
        Passwords have to match
      </div>

      <input type="submit" class="btn btn-primary" [disabled]="!form.form.valid || form.submitted"
             value="{{ form.submitted ? 'Creating account..' : 'Create my account' }}">
    </form>
  </div>
</div>
